In [1]:
#series similar to a numpy array, but a series can have labels
import numpy as np
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d={'a':10, 'b':20, 'c':30}

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
#you can specify index you want to be
pd.Series(data = my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
#can hold a variety of objects
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data = [sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [15]:
#allows for fast lookups in a series
ser1 = pd.Series(['Deaths',1,2,3,4],['County','USA', 'Germany', 'USSR', 'Japan'])
ser1

County     Deaths
USA             1
Germany         2
USSR            3
Japan           4
dtype: object

In [17]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
ser1[0]

'Deaths'

In [20]:
ser1[1]

1

In [21]:
ser3 = pd.Series(data = labels)

In [22]:
ser3

0    a
1    b
2    c
dtype: object

In [23]:
ser3[0]

'a'

In [24]:
ser1

County     Deaths
USA             1
Germany         2
USSR            3
Japan           4
dtype: object

In [25]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [26]:
ser1+ser2

County     NaN
Germany      4
Italy      NaN
Japan        8
USA          2
USSR       NaN
dtype: object