In [3]:
#how to deal with data that is missing in the data with pandas
import numpy as np 
import pandas as pd

In [4]:
d = {'A':[1,2,np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}

In [5]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [9]:
#removes rows with any missing values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [10]:
#removes columns with any missing values
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [11]:
#use the threshold parameter. If the threshold is set to 2, if the row has at least 2 non-na values, it will keep it!
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [13]:
#fill in missing values
df.fillna(value='Filled Value')

              A             B  C
0             1             5  1
1             2  Filled Value  2
2  Filled Value  Filled Value  3

In [16]:
#you will normally fill in values that are missing with the mean of the column
#This takes the A column, finds missing values, and replaces it will the mean of the values in Column A
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64