In [1]:
#Pandas - DataFrames Part 2
import numpy as np 
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'],['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
#Conditional Selection with Bracket Notation
df > 0 #returns Boolean values

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [8]:
booldf = df > 0

In [9]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [10]:
df[booldf] #values where it was true, NaN where it is false

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
#specify a Column - use this to filter out rows using columns
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [15]:
df[df['W']>0] #only get rows that have values greater than 0 in column W

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
#grab all rows in dataframe where z is less than 0 - should output only C because all over values in row Z are greater than 0
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [18]:
resultdf = df[df['W']>0]

In [19]:
resultdf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [20]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [22]:
#do this in one step - instead of splitting everything up, this is just one step
df[df['W']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [27]:
boolseries = df['W']>0
result = df[boolseries]
mycols = ['Y','X']
result[mycols]
#the above does the same thing as df[df['W']>0][['X','Y']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [26]:
result

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df[df['W']>0][['X','Y']]

          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [30]:
#Multiple Conditions - 2 or more conditions
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
#This will output an error saying the and is ambiguous. This is because the normaly python and gets confused with series and can only work on the simple booleans, rather than entire series.
#df[(df['W']>0) and (df['W']>1)]
#instead, use a & instead as an and. Use a | as an or
df[(df['W']>0) & (df['W']>1)] #this will output a row that has values greater than 0 and less than 1 in the W column

         W         X         Y         Z
A  2.70685  0.628133  0.907969  0.503826

In [35]:
#index - resetting index and setting it to something else
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [37]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [38]:
#set the index
newind = 'CA NY WY Or CO'.split()

In [40]:
newind

['CA', 'NY', 'WY', 'Or', 'CO']

In [43]:
df['States'] = newind

In [44]:
df

          W         X         Y         Z Stats States
A  2.706850  0.628133  0.907969  0.503826    CA     CA
B  0.651118 -0.319318 -0.848077  0.605965    NY     NY
C -2.018168  0.740122  0.528813 -0.589001    WY     WY
D  0.188695 -0.758872 -0.933237  0.955057    Or     Or
E  0.190794  1.978757  2.605967  0.683509    CO     CO

In [45]:
df.set_index('States') #this will overwrite the indexes

               W         X         Y         Z Stats
States
CA      2.706850  0.628133  0.907969  0.503826    CA
NY      0.651118 -0.319318 -0.848077  0.605965    NY
WY     -2.018168  0.740122  0.528813 -0.589001    WY
Or      0.188695 -0.758872 -0.933237  0.955057    Or
CO      0.190794  1.978757  2.605967  0.683509    CO

In [46]:
df

          W         X         Y         Z Stats States
A  2.706850  0.628133  0.907969  0.503826    CA     CA
B  0.651118 -0.319318 -0.848077  0.605965    NY     NY
C -2.018168  0.740122  0.528813 -0.589001    WY     WY
D  0.188695 -0.758872 -0.933237  0.955057    Or     Or
E  0.190794  1.978757  2.605967  0.683509    CO     CO