In [6]:
#DataFrames - Part3 - Data Frames Hierarchy/Multi level Index
import numpy as np 
import pandas as pd 
from numpy.random import randn

In [10]:
#index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) #make a list of tuple pairs
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [13]:
df
#this now has 2 levels of indexes. The outter indexes being G1 and G2, with 123/123 being the inner levels

             A         B
G1 1  0.426774  1.028105
   2 -0.838483 -0.339405
   3  0.115964 -1.521754
G2 1 -0.004970  0.460061
   2  1.147692 -0.417207
   3 -0.123805  0.268195

In [14]:
#this will output everything under the G1 index
df.loc['G1']

          A         B
1  0.426774  1.028105
2 -0.838483 -0.339405
3  0.115964 -1.521754

In [15]:
#This Returns row 1 under G1
df.loc['G1'].loc[1]

A    0.426774
B    1.028105
Name: 1, dtype: float64

In [16]:
#check names of indexes
df.index.names

FrozenList([None, None])

In [17]:
#change the name of the indexes
df.index.names = ['Groups', 'Num']

In [18]:
df

                   A         B
Groups Num
G1     1    0.426774  1.028105
       2   -0.838483 -0.339405
       3    0.115964 -1.521754
G2     1   -0.004970  0.460061
       2    1.147692 -0.417207
       3   -0.123805  0.268195

In [22]:
#try to get the number -0.416207 in G2
df.loc['G2'].loc[2]['B']

-0.4172073350900493

In [23]:
#cross-section - returns a cross section of rows or columns from a series/dataframe - use when you have a multilevel index

In [26]:
df.xs('G1') #looks same, but you can skip/go inside a multi level index

            A         B
Num
1    0.426774  1.028105
2   -0.838483 -0.339405
3    0.115964 -1.521754

In [27]:
#grab all values of numbers = 1, for all groups
df.xs(1,level='Num')

               A         B
Groups
G1      0.426774  1.028105
G2     -0.004970  0.460061