In [1]:
#select elements from Numpy Array
import numpy as np

In [2]:
arr = np.arange(0,11) #array of 11 elements from 0 to 10

In [3]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
arr[7] #value at index 7

7

In [6]:
arr[1:5]

array([1, 2, 3, 4])

In [7]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [8]:
#everything up to index 6
arr[:6]

array([0, 1, 2, 3, 4, 5])

In [10]:
#everything after index 5
arr[5:]

array([ 5,  6,  7,  8,  9, 10])

In [23]:
arr[0:5] = 100 #broadcasts that value to the first 5 digits

In [24]:
arr = np.arange(0,11)

In [25]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [26]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [27]:
slice_of_arr = arr[0:6]

In [28]:
slice_of_arr

array([0, 1, 2, 3, 4, 5])

In [29]:
slice_of_arr[:] = 99

In [30]:
slice_of_arr

array([99, 99, 99, 99, 99, 99])

In [31]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [32]:
#specify copy
arr_copy = arr.copy()

In [34]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [35]:
arr_copy

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [36]:
arr_copy[:] = 100

In [37]:
arr_copy

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100])

In [38]:
arr

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

In [39]:
#index 2d array

In [41]:
arr_2d = np.array([[5,10,15], [20,25,30], [35,40,45]])

In [42]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [43]:
arr_2d[0][0] #row you want, column you want

5

In [44]:
arr_2d[0] #give entire row

array([ 5, 10, 15])

In [45]:
arr_2d[1][1]

25

In [49]:
arr_2d[2][1]

40

In [50]:
arr_2d[1,2] #usually best way to do this

30

In [51]:
arr_2d[1][2]

30

In [52]:
#chunks of a matrix/array to grab sections
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [54]:
arr_2d[:2,1:] #grab everything, but not including row  2, then grab everything from column 1 until the end

array([[10, 15],
       [25, 30]])

In [55]:
arr_2d[:2]

array([[ 5, 10, 15],
       [20, 25, 30]])

In [61]:
#grab everything after row 1, grab everything upto column 2
arr_2d[1:,:2]

array([[20, 25],
       [35, 40]])

In [62]:
#Conditional Selection - IMPORTANT
arr = np.arange(1,11)

In [63]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [64]:
#checks values in array
arr > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [65]:
bool_arr = arr > 5

In [66]:
bool_arr

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [67]:
#outputs values in the array that are true
arr[bool_arr]

array([ 6,  7,  8,  9, 10])

In [68]:
#returns same answer as above in 1 step
arr[arr>5]

array([ 6,  7,  8,  9, 10])

In [69]:
#all elements in array that are less than 3
arr[arr<3]

array([1, 2])

In [70]:
new2d = np.arange(50).reshape(5,10)

In [71]:
new2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [72]:
#grab row 3
new2d[2]

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [74]:
#grab 44 to 49
new2d[4:,4:]

array([[44, 45, 46, 47, 48, 49]])

In [76]:
#grab 44 to 48
new2d[4:,4:9]

array([[44, 45, 46, 47, 48]])

In [81]:
#grab 13, 14
#     23, 24
new2d[1:3,3:5]

array([[13, 14],
       [23, 24]])